<!-- views/lanche/lst.ejs -->
 <%- include('../partials/header') %>
<div class="container mt-4">
<h1 class="mb-4">Lanches</h1>


<form method="GET" action="/lanche" class="row g-2 mb-4">
<div class="col-md-5">
<input type="text" name="busca" class="form-control" placeholder="Buscar por nome" value="<%= busca %>">
</div>

<div class="col-md-3">
<button class="btn btn-primary w-100">Filtrar</button>
</div>
</form>





<table class="table table-striped">
<thead>
<tr>
<th>Lanche</th>
<th>Nome</th>
<th>Preço</th>
</tr>
</thead>
<tbody>
<% lanches.forEach(l => { %>
<tr>
<td>
<% if (l.imagem) { %>
<img src="<%=l.imagem%>" width="150" height="150">
<% } else { %>
<span class="text-muted">Sem imagem</span>
<% } %>
</td>
<td><%= l.nome %></td>
<td>R$ <%= Number(l.preco).toFixed(2) %></td>
<td><%= l.categoria %></td>
<td>

<form action="/pedido/pedidoclientelst/<%= l._id %>" method="POST" style="display:flex; gap:5px;">
  <input type="number" name="quantidade" value="1" min="1" class="form-control" style="width:80px;">
  <button class="btn btn-primary btn-sm">Fazer Pedido</button>
</form>

</td>
</tr>
<% }) %>
</tbody>
</table>
</div>

<%- include('../partials/footer') %>